.icon-box {
    width: 70px;
    height: 50px;
    padding: 10px 25px !important;
}

.Drawer {
    transition: 0.5s ease-in-out;
}

.tran {
    transition: 0.5s ease-in-out;


}

.account-box {
    height: 0;
    transition: 0.8s;
}

.linkAll a {
    transition: 1s ease-in-out !;
    width: 100%;
    padding: 0px;
    width: 100%;
    padding-left: 30px;
    height: 50px;
    border-radius: 15px;
    margin: 0px !important;
    align-items: center !important;
    justify-content: start;
}

.link {
    transition: 0.5s ease-in-out;
}

.linkAll {

    width: 100%;
    margin-left: 0 !important;
}

.linkAll a:hover,
.linkAll a:focus {

    background-color: #2563eb;
}